<div class="row">
    <!-- col-md-offset-3 to center the textboxes -->
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div> -->
        <!-- Declarative approach:  -->
        <!-- <app-alert
            *ngIf="error"
            [message]="error"
            (click)="onHandleError()">
        </app-alert> -->
        <!-- To find a place to attach new component we could use @ViewChild:
        <div #addHere></div> -->
        <!-- But it doesn't work. Angular needs an object ViewContainerRef which will give ref to the place where component should be created, 
        also this directive has many extra features like, create a component here,clear,.. This is what is required. So create a new directive and use it here. -->
        <ng-template appPlaceholder></ng-template>

        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form
            #f="ngForm"
            (ngSubmit)="onSubmit(f)"
            *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail:</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    email
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    ngModel
                    name="password"
                    required
                    minlength="7">
            </div>
            <div>
                <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!f.valid">
                    {{isLoggedIn ? 'Login' : 'Sign Up'}}
                </button> |
                <button
                    class="btn btn-primary"
                    type="button"
                    (click)="onToggleAuthMode()">
                    {{isLoggedIn ? 'Switch to Sign Up' : 'Switch
                    to Login' }}
                </button>
            </div>
        </form>
    </div>
</div>